body{
  font-family: 'montserrat';
  box-sizing: border-box;
  margin:0;
}
html{
  max-width: 2000px;
  margin:auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  cursor: pointer;
}